:root {
    --colorPrimary: #ed375a;
}

.portfolio {
    height: 40px;
    color: #fff;
    margin: auto;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.intro-text {
    font-family: 'Lato', sans-serif; 
    font-weight: normal;
}

.bold-text {
    font-family: 'Lato', sans-serif; 
    font-weight: 900;
}

.primary-text {
    color: var(--colorPrimary);
}

* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

:active, :hover, :focus {
    outline: 0!important;
    outline-offset: 0;
}
::before,
::after {
    position: absolute;
    content: "";
}
  
.btn-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
}
.btn {
    position: relative;
    display: inline-block;
    width: auto; height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    min-width: 150px;
    margin-top: 20px;
}
    .btn span {         
      position: relative;
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      top: 0; left: 0;
      width: 100%;
      padding: 15px 20px;
      transition: 0.3s;
    }
  
  
  
  .btn-2::before {
    background-color: var(--colorPrimary);
    transition: 0.3s ease-out;
  }
  .btn-2 span {
    color: #fff;
    border: 1px solid #fff;
    transition: 0.2s;
  }  
  .btn-2 span:hover {
    color: rgb(255,255,255);
    border-color: var(--colorPrimary);
    transition: 0.2s 0.1s;
  }
 
  

  .btn.hover-slide-right::before {
    top: 0; bottom: 0; left: 0; 
    height: 100%; width: 0%;
  }
  .btn.hover-slide-right:hover::before {
    width: 100%;
  }
  