
.text-container {
  margin: 4rem 8rem 8rem 8rem;
  min-width: 800px;
}

.divider {
  width: calc(100% - 400px);
  margin-left: 400px;
  background-color: #fff;
  height: 2px;
}

.project-subtitle {
  color: #fff;
  margin-left: 400px;
  font-size: 16px;
  font-weight: 600;
  padding-top: 2rem;
}

.project-title {
  font-size: 48px;
  font-weight: 900;
  color: #fff;
  margin-top: 2rem;
}

.smaller-title {
  font-size: 28px;
  padding-left: 15%;
}

.project-paragraph {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  padding-left: 400px;
  padding-bottom: 2rem;
  width: calc(100% - 400px);
}

.title-container {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.paragraph-container {
  padding-top: 2rem;

}

.project-bold-text {
  font-weight: 700;
  color: #fff;
  white-space: nowrap;
  font-size: 14px;
}

.project-text {
  color: #fff;
  white-space: nowrap;
  font-size: 14px;
}

.right-panel {
  width: 300px;
  margin: 8px;
  text-align: right;
}

.heading {
  font-weight: 800;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;
}

.project-img {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.software-container {
  margin: 1rem auto 2rem auto;
  display: flex;
  gap: 32px;
  padding-left: 20%;
  padding-right: 20%;
  justify-content: space-around;
}

.software-container img {
  width: 64px;
}

@media (max-width: 1600px) {
  .project-paragraph {
    padding-left: 100px;
    width: calc(100% - 100px);
  }
  .project-subtitle {
    margin-left: 100px;
  }

  .divider {
    margin-left: 100px;
    width: calc(100% - 100px);
  }
  .right-panel {
    width: 200px;
  }
  .title-container {
    flex-grow: 1;
  }
}

.heading {
  color: #ed375a;
  margin-top: 2rem;
}

.horizontal-img-container {
  display: flex;
  width: 80%;
  margin-left: 10%;
  justify-content: space-between;
  margin-top: 2rem;
}

.vertical {
  gap: 2rem;
}

.horizontal-img-container img {
  width: 50%;
}

.split-line{
  height: 1px;
  width: 100%;
  background-color: #444;
  border: none;
  margin-bottom: 16px;
}