@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Montserrat&display=swap');

.navi {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: end;
    padding: 2rem;
    height: 90px;
}

.nav-bar {
    width: 20%;
}

.logo {
    margin-left: 10%;
    font-family: 'Lobster', cursive;
    /* font-family: 'Road Rage', cursive;
    font-family: 'Rubik', sans-serif; */
    font-weight: 800;
    font-size: 50px !important;
}

.link {
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
    color: lightgray;
}

.link:hover {
    color: white;
}

.ham {
    color: #333 !important;
}

.links {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 1rem;
}

.links li {
    list-style: none;
}


.active {
    color: white;
}

.nav-link a {
    color: #fff;
    font-family: 'Lato', sans-serif;
}

.nav-link a:hover {
    color: #ed375a;
}

.active-link {
    color: #ed375a;
    font-weight: 600;
}